#signUpForm  {
    width: max-content;
    padding: 3% 10%;
    margin: auto;
    margin-top: 80px;
    background-color: aqua;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px aliceblue;
}

#signUpForm form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#signUpForm form a{
    font-weight: bolder;
    color: black;
}

#signUpForm form input{
    color: black;
    font-family: monospace;
    padding: 5px 10px;
    font-size: 20px;
    border: 1.5px solid black;
    border-radius: 5px;
}

#signUpForm form input, #signUpForm form a{
    margin: 10px 0;
}

#signUpForm form input[type=submit]{
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#signUpForm form input[type=submit]:hover{
    background-color: greenyellow;
}