@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: UbuntuSans-Bold;
    src: url('/fonts/UbuntuSans-Bold.ttf');
}

@font-face {
    font-family: UbuntuSans-ExtraBold;
    src: url('/fonts/UbuntuSans-ExtraBold.ttf');
}


* {
    transition: .3s;
}

body {
    font-family: UbuntuSans-Bold;
}

nav {
    font-family: UbuntuSans-ExtraBold;
}